{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}


    <div class="panel panel-default" style="margin-bottom:10px">
        <div class="panel-body">
            <p><strong>Laboratory:</strong></p>
            <p>Your true earnings: {{true_payoff}}</p>
            <p>For payment purposes, we have rounded this amount to {{payoff_so_far_money}} dollars.</p>
            <p>Please remain seated until your seat number is called. </p>
        </div>
    </div>



{% endblock %}

{% block form %}

{% endblock %}
