{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
  Review Questions
{% endblock %}

{% block content %}
    <p>
      You will get 1.6 points for each correct answer.
    </p>
    <h3>Question 1</h3>
    <p>
      Suppose your group members invest 10, 10, 10, 8, 8, 8, 5, 5, 5 points respectively into the group account, and you invest 0 points into the group account.
    </p>

    {% formfield player.question11 with label="Your income from the group account would be" %}

    {% formfield player.question12 with label="Your income from the private account would be" %}

    {% formfield player.question13 with label="Your total income would be" %}

    <h3>Question 2</h3>
    <p>
      Suppose your group members invest 10, 10, 10, 8, 8, 8, 5, 5, 5 points respectively into the group account, and you invest 5 points into the group account.
    </p>

    {% formfield player.question21 with label="Your income from the group account would be" %}

    {% formfield player.question22 with label="Your income from the private account would be" %}

    {% formfield player.question23 with label="Your total income would be" %}

    <h3>Question 3</h3>
    <p>
      Suppose your group members invest 10, 10, 10, 8, 8, 8, 5, 5, 5 points respectively into the group account, and you invest 10 points into the group account.
    </p>

    {% formfield player.question31 with label="Your income from the group account would be" %}

    {% formfield player.question32 with label="Your income from the private account would be" %}

    {% formfield player.question33 with label="Your total income would be" %}

    <h3>Question 4</h3>
    <p>
      Your group members invested 2, 2, 2, 4, 4, 4, 6, 6, 6 points respectively. How much should you invest to maximize your total income?
    </p>
    {% formfield player.question4 with label="You should invest" %}

    <h3>Question 5</h3>
    <p>
      Your group members invested 8, 8, 8, 4, 4, 4, 0, 0, 0 points respectively. How much should you invest to maximize your total income?
    </p>
    {% formfield player.question5 with label="You should invest" %}

    <h3>Question 6</h3>
    <p>
      Your group members invested 4, 4, 4, 4, 4, 4, 4, 4, 4, points respectively. How much should you invest to maximize your total income?
    </p>
    {% formfield player.question6 with label="You should invest" %}

    <p>
        <strong>Please note that in the real game, you won't know your group members' investments before you make the decision</strong>
    </p>

    {% next_button %}

    {% include 'public_goods_low_ten/Instructions_quiz.html' %}

{% endblock %}
