{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round <span class="session-round-number">{{ subsession.round_number }}</span> of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}


    {% formfield player.contribution label="How much will you invest to the group account (from 1 to 10)?" %}

    <h4>Round history</h4>
    <table class="table">
        <tr>
            <th>Round</th>
            <th>Your investment</th>
            <th>Member1's investment</th>
            <th>Member2's investment</th>
            <th>Member3's investment</th>
            <th>Your earnings from the group account</th>
            <th>Your total earnings</th>
        </tr>
        {% for p in player_in_previous_rounds %}
            <tr>
                <td>{{ p.subsession.round_number }}</td>
                <td>{{ p.contribution }}</td>
                {% for q in p.get_others_in_group %}
                <td>{{ q.contribution }}</td>
                {% endfor %}
                <td>{{ p.group.individual_share }}
                <td>{{ p.payoff_each_round }}</td>
            </tr>
        {% endfor %}
    </table>
    <p></p>


    {% next_button %}

    {% include 'public_goods_low_four/Instructions.html' %}

{% endblock %}
