{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round <span class="session-round-number">{{ subsession.round_number }}</span> of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}


    {% formfield player.contribution label="How much will you invest to the group account (from 1 to 10)?" %}

    <h4>Round history</h4>
    <table class="table">
        {% for p in player_in_previous_rounds %}
            <tr>
              <th>Round {{ p.subsession.round_number }}</th>
              <th>Your investment</th>
              <th>Member 1</th>
              <th>Member 2</th>
              <th>Member 3</th>
              <th>Member 4</th>
              <th>Member 5</th>
              <th>Member 6</th>
              <th>Member 7</th>
              <th>Member 8</th>
              <th>Member 9</th>
            </tr>
            <tr>
              <td>Investments:</td>
              <td>{{ p.contribution }}</td>
              {% for q in p.get_others_in_group %}
              <td>{{ q.contribution }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Earnings:</td>
              <td colspan="8">Group account: {{ p.group.individual_share }}</td>
              <td colspan="2">Total: {{ p.payoff_each_round }}</td>
            </tr>
        {% endfor %}
    </table>
    <p></p>


    {% next_button %}

    {% include 'public_goods_high_ten/Instructions.html' %}
    {% include 'public_goods_high_ten/CalculatorLogger.html' %}

{% endblock %}
