<script src="https://code.highcharts.com/highcharts.js"></script>

<div id='calculator' style="position: fixed; width: 220px; padding:30px; right:20px; bottom:20px; z-index:999; border-radius: 20px; border: 2px solid #73AD21;">
    Member 1's investment <input id='member1'><br>
    Member 2's investment <input id='member2'><br>
    Member 3's investment <input id='member3'><br>
    Member 4's investment <input id='member4'><br>
    Member 5's investment <input id='member5'><br>
    Member 6's investment <input id='member6'><br>
    Member 7's investment <input id='member7'><br>
    Member 8's investment <input id='member8'><br>
    Member 9's investment <input id='member9'><br>
    Your investment <br><input id='myinvestment'><br>
    <button id='cal'>Submit</button><br>
    Your earnings from the group account: <p id='group_income'>_______</p>
    Your earnings from the private account: <p id='private_income'>_______</p>
    Your total earnings:<p id='total_income'>_______</p>

</div>

<div>


  <script>
  $( document ).ready(function() {
    //
    // $('#sure').click(function(event){
    //   event.preventDefault();
    //   var x = $('#myText1st').val();
    //   var y = $('#myText2nd').val();
    //   x=parseInt(x);
    //   y=parseInt(y);
    //   $('#calculator').text(x+y);
    // });

    //calculater results
    $('#cal').click(function(){
      event.preventDefault();
      var member1 = $('#member1').val();
      var member2 = $('#member2').val();
      var member3 = $('#member3').val();
      var member4 = $('#member4').val();
      var member5 = $('#member5').val();
      var member6 = $('#member6').val();
      var member7 = $('#member7').val();
      var member8 = $('#member8').val();
      var member9 = $('#member9').val();
      var my = $('#myinvestment').val();

      // Import caculator data
         var dataPackage = {
           member1 : member1,
           member2 : member2,
           member3 : member3,
           member4 : member4,
           member5 : member5,
           member6 : member6,
           member7 : member7,
           member8 : member8,
           member9 : member9,
           my : my,
           url : window.location.href,
           round_number : $(".session-round-number").text()
         };

         $.ajax({
             url: "https://a5a83563.ngrok.io/otree/saveInputHighTen.php",
             type: "POST",
             async: false,
             data: dataPackage,
             dataType: "text",
             success: function(d) {
                 // alert("Saving information succeeded!");
                 // alert("Thank you for submitting the task! Your HIT is being processed and evaluated as part of a quality check. You'll be paid soon.");
             },
             fail: function() {
                 alert("Saving information failed!");
             }
         });

       //finish import


      var rho = -2;
      var beta = 15;
      if (member1*member2*member3*member4*member5*member6*member7*member8*member9*my == 0){
        var income_from_group = NaN;
        var income_from_private = NaN;
        var total_income = NaN
      }else{
        var income1 = beta*Math.pow((Math.pow(member1, rho)
                          + Math.pow(member2, rho)
                          + Math.pow(member3, rho)
                          + Math.pow(member4, rho)
                          + Math.pow(member5, rho)
                          + Math.pow(member6, rho)
                          + Math.pow(member7, rho)
                          + Math.pow(member8, rho)
                          + Math.pow(member9, rho)
                          + Math.pow(my, rho)), (1/rho));
        var income2 = 10-my;
        var income3 = income1 + income2;
        var income_from_group = income1.toFixed(2);
        var income_from_private = income2.toFixed(2);
        var total_income = income3.toFixed(2);
      }

      $('#group_income').html('___'+income_from_group+'____')
      $('#private_income').html('___'+income_from_private+'____')
      $('#total_income').html('___'+total_income+'____')
    });


    $('#container2').highcharts({
        legend: {
            enabled: false
        },
        title: {
            text: 'Your total earnings when everyone else invests 1 point',
            x: -20 //center
        },
        xAxis: {
            title: {
                text: 'Your investment level x'
            },
            tickInterval: 2
        },
        yAxis: {
            title: {
                text: 'Your total earnings y'
            },
            min:4,
            max:15,
            tickInterval: 2
        },

        tooltip: {
            pointFormat: 'x = {point.x}, y = {point.y}'
        },
        series: [{
            data: [13.74, 12.93, 11.97, 10.98, 9.99, 8.99, 7.99, 7.00, 6.00,  5.00],
            pointStart: 1
        }]
    });

    $('#container3').highcharts({
        legend: {
            enabled: false
        },
        title: {
            text: 'Your total earnings when everyone else invests 5 points',
            x: -20 //center
        },
        xAxis: {
            title: {
                text: 'Your investment level x'
            },
            tickInterval: 2
        },
        yAxis: {
            title: {
                text: 'Your total earnings y'
            },
            min:21,
            max:29,
            tickInterval: 2
        },

        tooltip: {
            pointFormat: 'x = {point.x}, y = {point.y}'
        },
        series: [{
            data: [21.86, 27.21, 28.85, 29.08, 28.72, 28.09, 27.32, 26.47, 25.58, 24.66],
            pointStart: 1
        }]
    });

    $('#container4').highcharts({
        legend: {
            enabled: false
        },
        title: {
            text: 'Your total earnings when everyone else invests 10 points',
            x: -20 //center
        },
        xAxis: {
            title: {
                text: 'Your investment level x'
            },
            tickInterval: 2
        },
        yAxis: {
            title: {
                text: 'Your total earnings y'
            },
            min:23,
            max:59,
            tickInterval: 5
        },

        tooltip: {
            pointFormat: 'x = {point.x}, y = {point.y}'
        },
        series: [{
            data: [23.37, 33.72, 40.45, 44.41, 46.60, 47.71, 48.14, 48.15, 47.89, 47.43],
            pointStart: 1
        }]
    });

  });
  </script>
</div>

<!-- Write your comments here -->

<!-- <div class="box effect7"> -->
    <h3>Instructions</h3>
    <p>
        This is an experiment in the economics of decision making. In this experiment, you will be asked to make investment decisions. The amount of money you earn will depend on the decisions you make and on the decisions other people make. Please do not communicate with other people during the experiment. If you have questions at any point during the experiment, raise your hand and the experimenter will help you.
    </p>

    <p>
        All transactions during the experiment will be calculated in terms of points: every 2 points equals 1 dollar in cash (2 points = $1). For example, if you earn 4 points during this session, you will be paid 2 dollars in cash at the end of the experiment. If your total earnings do not equal an integer, it will be rounded towards the nearest integer.
    </p>

    <p>
        The experiment will consist of three parts: the review questions, the investment game, and the survey. The total amount of points you earn during the session will be the sum of points you earn from each of the three parts:

    <ol type="1">
      <li>The investment game consists of 20 rounds. At the end of the experiment, the computer will randomly select 1 out of 20 rounds that you will get paid for:
        there is an equal chance that any decision you make during the experiment will be one of the decisions that counts for payment.</li>
      <li>You will get 0.4 point ($0.2) for every question you answer correctly in the review questions part.</li>
      <li>A lottery game will determine your payment from the survey portion of the experiment.</li>
    </ol>

    <h4>The Investment Game</h4>
    <p>
        The investment game consists of 20 rounds. At the start of each round,
        you will be randomly matched with 9 other participants to form a group of 10.
        The composition of the groups will change every round. You will never be informed of the identity of the other group members
    </p>
    <p>
        At the beginning of the round each participant in your group receives {{Constants.endowment}}.
        Your only decision will be how to allocate these {{Constants.endowment}} . You will have to choose how many points you want to invest in a group account
        and how many of them you want to keep for yourself in a private account. You can invest any integer amount that is equal or greater than 1 point in the group account.
        That is, you can invest any integer amount from 1 point to 10 points, but investing 0 points is not an option.
        Other group members will also make similar decisions. No one will be informed of the decisions of the other group members before everyone submits his or her decision.
    </p>

    <h4>End of the rounds</h4>
    <p>
        At the end of each round (after all choices are submitted), you will see:
        <ol, type = "i">
          <li> Your investment choice,
          <li> The investment choices of the other members in your group
          <li> Your income.
      </ol>
    </p>
    <p>
        Then, the next round starts and you will receive a new endowment of {{Constants.endowment}}.
    </p>

   <h4>Income calculation</h4>

   <p>
       Each round, your total incomes will be the sum of the income from your private account and the group account:
   </p>


   <ol>
       <li> Income from your private account. You will earn 1 point for every point you keep in your private account. If for example, you keep 10 points in your private account, your income will be 10 points.
       <li> Income from the group account. The total group income depends on the investments of all group members, and it is shared equally among all of them.
         Each group member will receive 10 percent (1/10) of the total group income.
       The exact income from the group account can be accessed through the <strong>calculator</strong> on the bottom right corner of the screen.
   </ol>

   <h4>Using the calculator to compute your income</h4>
   <p>
       The calculator on the bottom right of the screen can help you calculate your income.
       To activate the calculator, simply fill in a hypothetical value for your own investment and for other group members’ investment;
       then, you will get your income from the group account, your income from the private account and your total income.
   </p>

   <h4>Income from the group account</h4>
   <ol>
     <li> The more you and others invest, the higher the total group income.
     <li> Taking as given the investments of all other group members, consider two levels for
       your investment in the group account (low investment and high investment).
       Next, increase both the low investment and the high investment by 1 token.
       The total group income will increase in both cases: however, the increase is smaller in the case of the higher investment level.
     <li> When you increase your investment in the group account, the total income will not increase at a constant rate.
       The rate depends on the value of all participants’ investments in the group account.
     <li> For the same average investment in the group account,
       The total group income will be higher if everyone puts similar investments into the group acount.
     <li> In general, always use the calculator to understand exactly what your income will be based on different investment scenarios
   <ol>
     <h4>Examples</h4>
     <ul>
      <li> <strong>Your income when everyone else invests 1 point</strong>
         <ol>
           <li> If everyone else in your group invests 1 point, and you invest 1 point, the total group income would be 47.43 points.
              As a result, your income from the group account would be 4.74 points (10 percent of the group income).
              Your income from the private account would be 9 points, and your total income would be 13.74 points.
              <p style="color:blue;">(Use the calculator to verify this, plug in 1 for group members’ investments and 1 for your investment.)</p>
           <li> If everyone else in your group invests 1 point, and you invest 5 points, the total group income would be 49.89 points.
              As a result, your income from the group account would be 4.99 points (10 percent of the group income).
              Your income from the private account would be 5 points, and your total income would be 9.99 points.
              <p style="color:blue;">(Use the calculator to verify this, plug in 1 for group members’ investments and 5 for your investment.)</p>
           <li> If everyone else in your group invests 1 points, and you invest 10 points, the total group income would be 49.97 points.
             As a result, your income from the group account would be 5 points (10 percent of the group income).
             Your income from the private account would be 0 points, and your total income would be 5 points.
             <p style="color:blue;">(Use the calculator to verify this, plug in 1 for group members’ investments and 10 for your investment.)</p>
         </ol>
     <h5>The following graph shows your <span style="color:red;">total income</span> if you invest X points when everyone else in your group invests 0 points.
     Move your mouse on the graph to see the exact numbers.</h5>
     <div id="container2" style="width: 600px; height: 400px"></div>

     <li> <strong>Your income when everyone else invests 5 points</strong>
        <ol>
          <li> If everyone else in your group invests 5 points, and you invest 1 point, the total group income would be 128.62 points.
             As a result, your income from the group account would be 12.86 points (10 percent of the group income).
             Your income from the private account would be 9 points, and your total income would be 21.86 points.
             <p style="color:blue;">(Use the calculator to verify this, plug in 5 for group members’ investments and 1 for your investment.)</p>
          <li> If everyone else in your group invests 5 points, and you invest 5 points, the total group income would be 237.17 points.
             As a result, your income from the group account would be 23.72 points (10 percent of the group income).
             Your income from the private account would be 5 points, and your total income would be 28.72 points.
             <p style="color:blue;">(Use the calculator to verify this, plug in 5 for group members’ investments and 5 for your investment.)</p>
          <li> If everyone else in your group invests 5 points, and you invest 10 points, the total group income would be 246.60 points.
            As a result, your income from the group account would be 24.66 points (10 percent of the group income).
            Your income from the private account would be 0 point, and your total income would be 24.66 points.
            <p style="color:blue;">(Use the calculator to verify this, plug in 5 for group members’ investments and 10 for your investment.)</p>
        </ol>
    <h5>The following graph shows your <span style="color:red;">total income</span> if you invest X points when everyone else in your group invests 5 points.
    Move your mouse on the graph to see the exact numbers.</h5>
    <div id="container3" style="width: 600px; height: 400px"></div>

    <li> <strong>Your income when everyone else invests 10 points</strong>
       <ol>
         <li> If everyone else in your group invests 10 points, and you invest 1 point, the total group income would be 143.67 points.
            As a result, your income from the group account would be 14.37 points (10 percent of the group income).
            Your income from the private account would be 9 points, and your total income would be 23.37 points.
            <p style="color:blue;">(Use the calculator to verify this, plug in 10 for group members’ investments and 1 for your investment.)</p>
         <li> If everyone else in your group invests 10 points, and you invest 5 points, the total group income would be 416.03 points.
            As a result, your income from the group account would be 41.60 points (10 percent of the group income).
            Your income from the private account would be 5 points, and your total income would be 46.60 points.
            <p style="color:blue;">(Use the calculator to verify this, plug in 10 for group members’ investments and 5 for your investment.)</p>
         <li> If everyone else in your group invests 10 points, and you invest 10 points, the total group income would be 474.34 points.
           As a result, your income from the group account would be 47.43 points (10 percent of the group income).
           Your income from the private account would be 0 points, and your total income would be 47.43 points.
           <p style="color:blue;">(Use the calculator to verify this, plug in 10 for group members’ investments and 10 for your investment.)</p>
       </ol>
   <h5>The following graph shows your <span style="color:red;">total income</span> if you invest X points when everyone else in your group invests 10 points.
   Move your mouse on the graph to see the exact numbers.</h5>
   <div id="container4" style="width: 600px; height: 400px"></div>
   </ul>

 <p>


   <p>
     When you finish reading, click on the "next" button on the screen and you will proceed to the review questions.
     Please raise you hand if you have any questions during the experiment.
   </p>



 <p>
  For your convenience, these instructions will remain available to you on all subsequent screens of this study.
 </p>

<!-- Write your comments here -->

<!-- </div> -->
