<script src="https://code.highcharts.com/highcharts.js"></script>

<div id='calculator' style="position: fixed; width: 322px; padding:30px; right:20px; bottom:20px; z-index:999; border-radius: 25px; border: 2px solid #73AD21;">
    Group member 1 contribution <input id='member1'><br>
    Group member 2 contribution <input id='member2'><br>
    Group member 3 contribution <input id='member3'><br>
    Your contribution <input id='mycontribution'><br>
    <button id='cal'>Submit</button><br>
    Your income from the group account: <p id='group_income'>_______</p>
    Your income from the private account: <p id='private_income'>_______</p>
    Your total income:<p id='total_income'>_______</p>

</div>

<div>


  <script>
  $( document ).ready(function() {
    //
    // $('#sure').click(function(event){
    //   event.preventDefault();
    //   var x = $('#myText1st').val();
    //   var y = $('#myText2nd').val();
    //   x=parseInt(x);
    //   y=parseInt(y);
    //   $('#calculator').text(x+y);
    // });

    //calculater results
    $('#cal').click(function(){
      event.preventDefault();
      var member1 = $('#member1').val();
      var member2 = $('#member2').val();
      var member3 = $('#member3').val();
      var my = $('#mycontribution').val();
      // $('#member1').val('')
      // $('#member2').val('')
      // $('#member3').val('')
      // $('#mycontribution').val('');
      var rho = 0.7;
      var beta = 0.4;
      var income1 = beta*Math.pow((Math.pow(member1, rho)+ Math.pow(member2, rho) + Math.pow(member3, rho) + Math.pow(my, rho)), (1/rho));
      var income2 = 10-my;
      var income3 = income1 + income2;
      var income_from_group = income1.toFixed(2);
      var income_from_private = income2.toFixed(2);
      var total_income = income3.toFixed(2);
      $('#group_income').html('___'+income_from_group+'____')
      $('#private_income').html('___'+income_from_private+'____')
      $('#total_income').html('___'+total_income+'____')
    });

    $('#container').highcharts({
        legend: {
            enabled: false
        },
        title: {
            text: 'Everyone invests x',
            x: -20 //center
        },
        xAxis: {
            title: {
                text: 'x'
            },
            tickInterval: 2
        },
        yAxis: {
            title: {
                text: 'your payoff'
            },
            min:10,
            tickInterval: 5
        },

        tooltip: {
            pointFormat: 'x = {point.x}, y = {point.y}'
        },
        series: [{
            data: [10, 11.8983, 13.7966, 15.6949, 17.5933, 19.4916,21.3899, 23.2882, 25.1865, 27.0848, 28.9832],
            pointStart: 0
        }]
    });

  });
  </script>
</div>

<div id="container" style="width: 600px; height: 400px"></div>


<div class="box effect7">
    <h3>Instructions</h3>
    <p>
      You are taking part in an economic experiment in which you will be able to earn money. Your earnings depend on your decisions and
      on the decisions of the other participants with whom you will interact. It is therefore important to read these instructions with attention.
      You are not allowed to communicate with the other participants during the experiment.
			All the transactions during the experiment and your entire earnings will be calculated in terms of tokens.
      At the end of the experiment, the total amount of tokens you have earned during this session will be converted to USD and paid to you in cash according to the following rules:
    </p>

    <p>
      1. The game will be played for {{Constants.num_rounds}} rounds. At the end of the experiment, the computer will randomly select five of your decision rounds for payment.
      That is, there is an equal chance that any decision you make during the experiment will be the decision that counts for payment.
    </p>

    <p>
      2. The amount of tokens you get in the randomly selected round will be converted into USD at the rate: 2 points = $1.
    </p>

    <p>
      3. You will get 1 points for every control question you answer correctly.
    </p>

    <p>
      4. In addition, you will get a show-up fee of $5.
    </p>

    <h4>Introduction</h4>
    <p>
      This experiment is divided into different rounds. There will be 20 rounds in total. In each round you will obtain some income in tokens.
      The more tokens you get, the more money you will be paid at the end of the experiment.
    </p>

    <p>
      During all {{Constants.num_rounds}} rounds the participants are divided into groups of {{Constants.players_per_group}}.
      Therefore, you will be in a group with {{Constants.other_player_per_group}} other participants.
      The composition of the groups will change every round. You will meet each of the participants only four times, in randomly chosen rounds.
      However, each time you are matched with a participant that you encountered before, the other group members will be different. This means that
      the group composition will never be identical in any two rounds. Moreover, you will never be informed of the identity of the other group members.
    </p>

    <h4>Description of the rounds</h4>
    <p>
      At the beginning of the rounds each participant in your group receives {{Constants.endowment}} tokens. We will refer to these tokens as the initial endowment.
      Your only decision will be on how to use your initial endowment. You will have to choose how many tokens you want to invest in a group account
      and how many of them you'll want keep for yourself in a private account. You can invest any amount of your initial endowment in the group account.
    </p>

    <p>
      The decision on how many tokens to invest is up to you. Each other group member will also make such a decision. All decisions are made simultaneously. That is,
      nobody will be informed about the decision of the other group members before everyone made his or her decision.
    </p>

    <h4>End of the rounds</h4>
    <p>
      At the end of each round (after all choices are submitted), you will see: (i) your investment choice,
      (ii) the investment choices of the other members in your group, and
      (iii) your income. Then, next round starts automatically and you will receive a new endowment of {{Constant.endowment}} tokens.
    </p>

   <h4>Income calculation</h4>
   <p>
     Each round, your total earnings will be calculated by adding up the income from your private account and the income from the group account:
   </p>

   <p>
     1. Income from your private account. You will earn 1 token for every token you keep in your private account. If for example, you keep 10 tokens in your private account your income will be 10 tokens.
   </p>

   <p>
     2. Income from the group account. The total group income depends on the investments of all group members, and it is shared equally among all of them.
     That is, each group member receives one quarter (1/4) of the total group income.
   </p>

   <h4>Using the calculator to compute your income</h4>
   <p>
     The calculator (top right of the screen) can help you calculate your income.
     To activate the calculator, you will be asked to fill in a hypothetical value for your own investment and for the other group members’ investment;
     then, you will get your earning from the group account, your earning from the private account and your total earning.
   </p>

   <h4>Income from the group account</h4>
   <p>
     1. The higher you and your group member invest, the higher the total group income will be.
   </p>

   <p>
     1) If everyone in your group contribute 0 point, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 0 for group members’ contribution and your contribution.)
   </p>
   <p>
     2) If everyone in your group contribute 5 point, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 5 for group members’ contribution and your contribution.)
   </p>
   <p>
     3) If everyone in your group contribute 10 point, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and your contribution.)
   </p>
   <h5>The following graph shows your total income when everyone in your group contribute X points.</h5>

   <p>
     2. Your income when everyone else contribute 0 points
   </p>
   <p>
     1) If everyone else invest 0, and you invest 0, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 0 for group members’ contribution and 0 for your contribution.)
   </p>
   <p>
     2) If everyone else invest 0, and you invest 5, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 0 for group members’ contribution and 5 for your contribution.)
   <p>
     3) If everyone else invest 0, and you invest 10, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 0 for group members’ contribution and 10 for your contribution.)
   </p>
   <h5>The following graph shows your total income when you contribute X points if everyone else in your group contribute 0 points.</h5>

   <p>
     3. Your income when everyone else contribute 5 points
   </p>
   <p>
     1) If everyone else invest 5, and you invest 0, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 5 for group members’ contribution and 0 for your contribution.)
   </p>
   <p>
     2) If everyone else invest 5, and you invest 5, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 5 for group members’ contribution and 5 for your contribution.)
   <p>
     3) If everyone else invest 5, and you invest 10, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 5 for group members’ contribution and 10 for your contribution.)
   </p>
   <h5>The following graph shows your total income when you contribute X points if everyone else in your group contribute 5 points.</h5>

   <p>
     4. Your income when everyone else contribute 5 points
   </p>
   <p>
     1) If everyone else invest 10, and you invest 0, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and 0 for your contribution.)
   </p>
   <p>
     2) If everyone else invest 10, and you invest 5, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and 5 for your contribution.)
   <p>
     3) If everyone else invest 10, and you invest 10, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and 10 for your contribution.)
   </p>
   <h5>The following graph shows your total income when you contribute X points if everyone else in your group contribute 10 points.</h5>

   <p>
     5. You income when the sum of all group members’ investments is fixed.
     The total group income would be higher if there is not much difference between the investments chosen by each one of the group members.
   </p>
   <p>
     1) If everyone invest 2, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and 0 for your contribution.)
   </p>
   <p>
     2) If member 1 invest 4 , member 2 invest 4,  member 3 invest 0, and you invest 0, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and 10 for your contribution.)
   <p>
     3) If member 1 invest 6, member 2 invest 2, member 3 invest 0, and you invest 0, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and 10 for your contribution.)
   </p>
   <p>
     4) If member 1 invest 8, member 2 invest 0, member 3 invest 0, and you invest 0, your income from the group account is XX, your total income is XX.
     (Use the calculator to verify this, plug in 10 for group members’ contribution and 10 for your contribution.)
   </p>
   <h5>The following graph shows your total income for the above 4 cases.</h5>

   <p>
     When you increase your investment in the group account, the total income will not increase at a constant rate.
     The rate depends on the value of all participants investments in the group account. If we put
   </p>

    <p>
      All the transactions during the experiment and your entire earnings will be calculated in terms of tokens. At the end of the experiment, the total amount of tokens
      you have earned during this session will be converted to USD and paid to you in cash according to the following rules:
    <p>
        In this study, you will be in a randomly formed group of {{ Constants.players_per_group }} participants. Each participant in the group is given {{ Constants.endowment }}. The group
        has the opportunity to undertake a joint project. Each participant in the group decides how much she or he is going to contribute to
        the project. Contribution could be any integer from 0 to {{ Constants.endowment }}.
    </p>
    <p>
        The earnings from the project are calculated as follows: The contributions of all {{ Constants.players_per_group }} participants are added up, the total contribution
        is multiplied by a factor of {{ Constants.efficiency_factor }}, and the resulting amount is the total earnings from the project, which is evenly split among all {{ Constants.players_per_group }}
        participants. Your payoff equals your earnings from the project, plus the amount you did not contribute.
    </p>
    <p>
    For your convenience, these instructions will remain available to you on all subsequent screens of this study.
    </p>



</div>
