{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results for Rounds 1–{{ Constants.num_rounds }}
{% endblock %}

{% block content %}
<p>
    This is a summary of the rounds played.
</p>
<p>
    The period that have been randomly drawn for payment is period <span style="color: red;"><strong>{{ paying_round }}</strong></span>
</p>

<p>
    Therefore, you earned <span style="color: red;"><strong>{{ total_payoff }}</strong></span> from the investment game.
</p>

<p>
    In total, you earned <span style="color: red;"><strong>{{payoff_so_far}}</strong></span> from the review questions and the investment game, which is <span style="color: red;"><strong>{{payoff_so_far_money}}</strong></span>.
</p>


    <div style="overflow-x: auto; width: 100%;">
        <table class="table" style="min-width: 800px;">
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Your investment</th>
                    <th colspan="9" style="text-align: center; border-bottom: 2px solid #ddd;">Other members' investments</th>
                    <th>Group account earnings</th>
                    <th>Total earnings</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>M1</th>
                    <th>M2</th>
                    <th>M3</th>
                    <th>M4</th>
                    <th>M5</th>
                    <th>M6</th>
                    <th>M7</th>
                    <th>M8</th>
                    <th>M9</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for p in player_in_all_rounds %}
                    <tr>
                        <td><strong>{{ p.subsession.round_number }}</strong></td>
                        <td><strong>{{ p.contribution }}</strong></td>
                        {% for q in p.get_others_in_group %}
                            <td>{{ q.contribution }}</td>
                        {% endfor %}
                        {% for i in "123456789" %}
                            {% if forloop.counter > p.get_others_in_group|length %}
                                <td>-</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ p.group.individual_share }}</td>
                        <td><strong>{{ p.payoff_each_round }}</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>





    {% next_button %}

    {% include 'public_goods_low_ten/Instructions.html' %}

{% endblock %}
