{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results for Rounds 1–{{ Constants.num_rounds }}
{% endblock %}

{% block content %}
    <!-- Hidden session code for JavaScript access -->
    <span id="session-code" style="display:none;">{{ session.code }}</span>

    <div style="font-size: 1.2em; font-weight: bold; margin-bottom: 30px;">
        <p>
            The period that have been randomly drawn for payment is period <span style="color: red;">{{ paying_round }}</span>
        </p>

        <p>
            Therefore, you earned <span style="color: red;">{{ total_payoff }}</span> from the investment game.
        </p>

        <p>
            In total, you earned <span style="color: red;">{{payoff_so_far}}</span> from the review questions and the investment game, which is <span style="color: red;">{{payoff_so_far_money}}</span>.
        </p>
    </div>

    <p>
        This is a summary of the rounds played.
    </p>

    <table class="table">
        {% for p in player_in_all_rounds %}
            <tr>
              <th>Round {{ p.subsession.round_number }}</th>
              <th>Your investment</th>
              <th>Member 1</th>
              <th>Member 2</th>
              <th>Member 3</th>
              <th>Member 4</th>
              <th>Member 5</th>
              <th>Member 6</th>
              <th>Member 7</th>
              <th>Member 8</th>
              <th>Member 9</th>
            </tr>
            <tr>
              <td>Investments:</td>
              <td>{{ p.contribution }}</td>
              {% for q in p.get_others_in_group %}
              <td>{{ q.contribution }}</td>
              {% endfor %}
            </tr>
            <tr>
              <td>Earnings:</td>
              <td colspan="8">Group account: {{ p.group.individual_share }}</td>
              <td colspan="2">Total: {{ p.payoff_each_round }}</td>
            </tr>
        {% endfor %}
    </table>



    {% next_button %}

    {% include 'public_goods_low_ten/CalculatorLogger.html' %}


    {% include 'public_goods_low_ten/Instructions.html' %}

{% endblock %}
