<script src="https://code.highcharts.com/highcharts.js"></script>

<div id='calculator' style="position: fixed; width: 220px; padding:30px; right:20px; bottom:20px; z-index:999; border-radius: 25px; border: 2px solid #73AD21;">
    Member 1's investment <input id='member1'><br>
    Member 2's investment <input id='member2'><br>
    Member 3's investment <input id='member3'><br>
    Member 4's investment <input id='member4'><br>
    Member 5's investment <input id='member5'><br>
    Member 6's investment <input id='member6'><br>
    Member 7's investment <input id='member7'><br>
    Member 8's investment <input id='member8'><br>
    Member 9's investment <input id='member9'><br>
    Your investment <br><input id='myinvestment'><br>
    <button id='cal'>Submit</button><br>
    Your income from the group account: <p id='group_income'>_______</p>
    Your income from the private account: <p id='private_income'>_______</p>
    Your total income:<p id='total_income'>_______</p>

</div>

<div>


  <script>
  $( document ).ready(function() {
    //
    // $('#sure').click(function(event){
    //   event.preventDefault();
    //   var x = $('#myText1st').val();
    //   var y = $('#myText2nd').val();
    //   x=parseInt(x);
    //   y=parseInt(y);
    //   $('#calculator').text(x+y);
    // });

    //calculater results
    $('#cal').click(function(){
      event.preventDefault();
      var member1 = $('#member1').val();
      var member2 = $('#member2').val();
      var member3 = $('#member3').val();
      var member4 = $('#member4').val();
      var member5 = $('#member5').val();
      var member6 = $('#member6').val();
      var member7 = $('#member7').val();
      var member8 = $('#member8').val();
      var member9 = $('#member9').val();
      var my = $('#myinvestment').val();

      // Import caculator data
         var dataPackage = {
           member1 : member1,
           member2 : member2,
           member3 : member3,
           member4 : member4,
           member5 : member5,
           member6 : member6,
           member7 : member7,
           member8 : member8,
           member9 : member9,
           my : my,
           url : window.location.href,
           round_number : $(".session-round-number").text()
         };

         $.ajax({
             url: "https://5e1523af.ngrok.io/otree/saveInputLowTen.php",
             type: "POST",
             async: false,
             data: dataPackage,
             dataType: "text",
             success: function(d) {
                 // alert("Saving information succeeded!");
                 // alert("Thank you for submitting the task! Your HIT is being processed and evaluated as part of a quality check. You'll be paid soon.");
             },
             fail: function() {
                 alert("Saving information failed!");
             }
         });

       //finish import



      var rho = 0.7;
      var beta = 0.4;
      var income1 = beta*Math.pow((Math.pow(member1, rho)
                        + Math.pow(member2, rho)
                        + Math.pow(member3, rho)
                        + Math.pow(member4, rho)
                        + Math.pow(member5, rho)
                        + Math.pow(member6, rho)
                        + Math.pow(member7, rho)
                        + Math.pow(member8, rho)
                        + Math.pow(member9, rho)
                        + Math.pow(my, rho)), (1/rho));
      var income2 = 10-my;
      var income3 = income1 + income2;
      var income_from_group = income1.toFixed(2);
      var income_from_private = income2.toFixed(2);
      var total_income = income3.toFixed(2);
      $('#group_income').html('___'+income_from_group+'____')
      $('#private_income').html('___'+income_from_private+'____')
      $('#total_income').html('___'+total_income+'____')
    });


    $('#container2').highcharts({
        legend: {
            enabled: false
        },
        title: {
            text: 'Your total income when everyone else invests 0 points',
            x: -20 //center
        },
        xAxis: {
            title: {
                text: 'Your investment level x'
            },
            tickInterval: 2
        },
        yAxis: {
            title: {
                text: 'Your total income y'
            },
            min:4,
            max:10,
            tickInterval: 1
        },

        tooltip: {
            pointFormat: 'x = {point.x}, y = {point.y}'
        },
        series: [{
            data: [10.00, 9.40, 8.80, 8.20, 7.60, 7.00, 6.40, 5.80, 5.20, 4.60, 4.00],
            pointStart: 0
        }]
    });

    $('#container3').highcharts({
        legend: {
            enabled: false
        },
        title: {
            text: 'Your total income when everyone else invests 5 points',
            x: -20 //center
        },
        xAxis: {
            title: {
                text: 'Your investment level x'
            },
            tickInterval: 2
        },
        yAxis: {
            title: {
                text: 'Your total income y'
            },
            min:55,
            max:60,
            tickInterval: 1
        },

        tooltip: {
            pointFormat: 'x = {point.x}, y = {point.y}'
        },
        series: [{
            data: [56.16, 57.55, 58.06, 58.36, 58.55, 58.65, 58.70, 58.70, 58.66, 58.60, 58.50],
            pointStart: 0
        }]
    });

    $('#container4').highcharts({
        legend: {
            enabled: false
        },
        title: {
            text: 'Your total income when everyone else invests 10 points',
            x: -20 //center
        },
        xAxis: {
            title: {
                text: 'Your investment level x'
            },
            tickInterval: 2
        },
        yAxis: {
            title: {
                text: 'Your total income y'
            },
            min:100,
            max:110,
            tickInterval: 2
        },

        tooltip: {
            pointFormat: 'x = {point.x}, y = {point.y}'
        },
        series: [{
            data: [102.31, 104.25, 105.10, 105.69, 106.12, 106.46, 106.73, 106.94, 107.10, 107.22, 107.31],
            pointStart: 0
        }]
    });

  });
  </script>
</div>

<!-- Write your comments here -->

<!-- <div class="box effect7"> -->
    <h3>Instructions</h3>
    <p>
        This is an experiment in the economics of decision making. In this experiment, you will be asked to make investment decisions.
        The amount of money you earn will depend
        upon the decisions you make and on the decisions other people make. Please do not communicate with other people during the experiment.
        If you have questions at any point during the experiment, raise your hand and the experimenter will help you.
    </p>

    <p>
        All transactions during the experiment will be calculated in terms of points: every 8 points equals 1 dollar in cash (8 points = $1).
        For example, if you earn 16 points during this session, you will be paid 2 dollars in cash at the end of the experiment.
        If your total earnings do not equal an integer, it will be rounded towards the closest integer when you get paid.
    </p>

    <p>
        The experiment consists three parts: the review questions, the investment game, and the survey. The total amount of points you earn during
        the session is the sum of points you earn from the three parts.

    <ol type="1">
      <li>The investment game consists of 20 rounds. At the end of the experiment, the computer will randomly select 1 round out of 20 rounds that you will get paid for:
        there is an equal chance that any decision you make during the experiment will be one of the decisions that counts for payment.</li>
      <li>You will get 1.6 points ($0.2) for every question you answer correctly in the review questions part.</li>
      <li>A lottery game will determine your payment from the survey portion of the experiment.</li>
    </ol>

    <h4>The Investment Game</h4>
    <p>
        The investment game consists of 20 rounds. At the start of each round,
        you will be randomly matched with 9 other participants to form a group of 10.
        The composition of the groups will change every round. You will never be informed of the identity of the other group members
    </p>
    <p>
        At the beginning of the round each participant in your group receives {{Constants.endowment}}.
        Your only decision will be how to allocate these {{Constants.endowment}} . You will have to choose how many points you want to invest in a group account
        and how many of them you want to keep for yourself in a private account. You can invest any integer amount of these {{Constants.endowment}} in the group account.
        Other group members will also make similar decisions. No one will be informed of the decisions of the other group members before everyone submits his or her decision.
    </p>

    <h4>End of the rounds</h4>
    <p>
        At the end of each round (after all choices are submitted), you will see:
        <ol, type = "i">
          <li> Your investment choice,
          <li> The investment choices of the other members in your group
          <li> Your income.
      </ol>
    </p>
    <p>
        Then, the next round starts and you will receive a new endowment of {{Constants.endowment}}.
    </p>

   <h4>Income calculation</h4>

   <p>
       Each round, your total incomes will be the sum of the income from your private account and the group account:
   </p>

     <ol>
         <li> Income from your private account. You will earn 1 point for every point you keep in your private account. If for example, you keep 10 points in your private account, your income will be 10 points.
         <li> Income from the group account. The total group income depends on the investments of all group members, and it is shared equally among all of them.
           Each group member will receive 10 percent (1/10) of the total group income.
         The exact income from the group account can be accessed through the <strong>calculator</strong> on the bottom right corner of the screen.
     </ol>

   <h4>Using the calculator to compute your income</h4>
   <p>
       The calculator on the bottom right of the screen can help you calculate your income.
       To activate the calculator, simply fill in a hypothetical value for your own investment and for other group members’ investment;
       then, you will get your income from the group account, your income from the private account and your total income.
   </p>

   <h4>Income from the group account</h4>
   <ol>
     <li> The more you and others invest, the higher the total group income.
     <li> Taking as given the investments of all other group members, consider two levels for
       your investment in the group account (low investment and high investment).
       Next, increase both the low investment and the high investment by 1 token.
       The total group income will increase in both cases: however, the increase is smaller in the case of the higher investment level.
     <li> When you increase your investment in the group account, the total income will not increase at a constant rate.
       The rate depends on the value of all participants’ investments in the group account.
     <li> For the same average investment in the group account,
       The total group income will be higher if everyone puts similar investments into the group acount.
     <li> If you are the only person to invest in the group account, the total group income will be determined
       by multiplying your investment in the group account by 1.6; the resulting amount is the group income
       and per usual it will be split equally among all group members.
     <li> In general, always use the calculator to understand exactly what your income will be based on different investment scenarios
   <ol>

   <h4>Examples</h4>
   <ul>
    <li> <strong>Your income when everyone else invest 0 points</strong>
       <ol>
         <li> If everyone in your group invest 0 points, and you invest 0 points, the total group income would be 0 points.
            As a result, your income from the group account would be 0 points (10 percent of the group income).
            Your income from the private account would be 10 points, and your total income would be 10 points.
            <p style="color:blue;">(Use the calculator to verify this, plug in 0 for group members’ investments and 0 for your investment.)</p>
         <li> If everyone in your group invest 0 points, and you invest 5 points, the total group income would be 8 points.
            As a result, your income from the group account would be 2 points (10 percent of the group income).
            Your income from the private account would be 5 points, and your total income would be 7 points.
            <p style="color:blue;">(Use the calculator to verify this, plug in 0 for group members’ investments and 5 for your investment.)</p>
         <li> If everyone in your group invest 0 points, and you invest 10 points, the total group income would be 16 points.
           As a result, your income from the group account would be 4 points (10 percent of the group income).
           Your income from the private account would be 0 points, and your total income would be 4 points.
           <p style="color:blue;">(Use the calculator to verify this, plug in 0 for group members’ investments and 10 for your investment.)</p>
       </ol>
   <h5>The following graph shows your <span style="color:red;">total income</span> if you invest X points when everyone else in your group invest 0 points.
   Move your mouse on the graph to see the exact numbers.</h5>
   <div id="container2" style="width: 600px; height: 400px"></div>

   <li> <strong>Your income when everyone else invest 5 points</strong>
      <ol>
        <li> If everyone in your group invest 5 points, and you invest 0 points, the total group income would be 461.57 points.
           As a result, your income from the group account would be 46.16 points (a quarter of group income).
           Your income from the private account would be 10 points, and your total income would be 56.16 points.
           <p style="color:blue;">(Use the calculator to verify this, plug in 5 for group members’ investments and 0 for your investment.)</p>
        <li> If everyone in your group invest 5 points, and you invest 5 points, the total group income would be 536.54 points.
           As a result, your income from the group account would be 53.65 points (a quarter of group income).
           Your income from the private account would be 5 points, and your total income would be 58.65 points.
           <p style="color:blue;">(Use the calculator to verify this, plug in 5 for group members’ investments and 5 for your investment.)</p>
        <li> If everyone in your group invest 5 points, and you invest 10 points, the total group income would be 585.04 points.
          As a result, your income from the group account would be 58.50 points (a quarter of group income).
          Your income from the private account would be 0 point, and your total income would be 58.50 points.
          <p style="color:blue;">(Use the calculator to verify this, plug in 5 for group members’ investments and 10 for your investment.)</p>
      </ol>
  <h5>The following graph shows your <span style="color:red;">total income</span> if you invest X points when everyone else in your group invest 5 points.
  Move your mouse on the graph to see the exact numbers.</h5>
  <div id="container3" style="width: 600px; height: 400px"></div>

  <li> <strong>Your income when everyone else invest 10 points</strong>
     <ol>
       <li> If everyone in your group invest 10 points, and you invest 0 points, the total group income would be 923.13 points.
          As a result, your income from the group account would be 92.31 points (a quarter of group income).
          Your income from the private account would be 10 points, and your total income would be 102.31 points.
          <p style="color:blue;">(Use the calculator to verify this, plug in 10 for group members’ investments and 0 for your investment.)</p>
       <li> If everyone in your group invest 10 points, and you invest 5 points, the total group income would be 1014.60 points.
          As a result, your income from the group account would be 101.46  points (a quarter of group income).
          Your income from the private account would be 5 points, and your total income would be 106.46 points.
          <p style="color:blue;">(Use the calculator to verify this, plug in 10 for group members’ investments and 5 for your investment.)</p>
       <li> If everyone in your group invest 10 points, and you invest 10 points, the total group income would be 1073.10 points.
         As a result, your income from the group account would be 107.31 points (a quarter of group income).
         Your income from the private account would be 0 points, and your total income would be 107.31 points.
         <p style="color:blue;">(Use the calculator to verify this, plug in 10 for group members’ investments and 10 for your investment.)</p>
     </ol>
 <h5>The following graph shows your <span style="color:red;">total income</span> if you invest X points when everyone else in your group invest 10 points.
 Move your mouse on the graph to see the exact numbers.</h5>
 <div id="container4" style="width: 600px; height: 400px"></div>
 </ul>

 <p>

 <p>
   When you finish reading, click on the "next" button on the screen and you will proceed to the review questions.
   Please raise you hand if you have any questions during the experiment.
 </p>


 <p>
  For your convenience, these instructions will remain available to you on all subsequent screens of this study.
 </p>

<!-- Write your comments here -->

<!-- </div> -->
